body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
}

#copyright {
    text-align: center;
    font-size: 14px;
}

.container {
    background-color: #242526;
    margin: auto;
    max-width: 320px;
    border-radius: 12px;
    padding: 15px;
}

#hero-text {
    display: flex;
    color: #B0B3B8;
    justify-content: space-between;
    padding: 0 20px;
}

#casio {
    font-weight: 600;
}

#calc-header {
    padding: 10px 0;
    color: maroon;
    font-size: 20px;
}

.screen {
    display: flex;
    flex-direction: column;
    max-width: 270px;
    height: 80px;
    font-size:30px;
    background-color: aliceblue;
    margin: auto;
    border-radius: 4px;
    padding: 10px 10px;
    justify-content: space-between;
}

#answer {
    height: 30px;
    text-align: right;
}

#display {
    height: 30px;
    text-align: left;
}

.container > .container-row {
    display: flex;
    justify-content: center;
    padding: 2px;
    gap:2px;
}

.button {
    display: flex;
    height: 30px;
    width: 50px;
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.delete {
    background-color: orangered;
    color: black;
}

#row1 {
    padding-top: 10px;
}